  <span> 
    <strong>Currency Id:</strong>
    <%= @note.currency_id %>
  </span>
  <h1 class="display-4" id="notice"></h1>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4", style="font-size: small;">
    <% if user_signed_in? && (current_user.role == 'admin' || current_user.role == 's_user') %>
      <div class="col">
        <strong>Data zakupu:</strong>
        <%= @note.date_buy_note %>
      </div>  
    <% end %>
    <% if user_signed_in? && current_user.role == 'admin' %>
      <div class="col">
        <strong>Miejsce zakupu:</strong>
        <%= @note.bought %>
      </div>
    <% end %>
    <% if user_signed_in? && (current_user.role == 'admin' || current_user.role == 's_user') %>
      <div class="col">
        <strong>cena zakupu:</strong>
        <%= number_to_currency(@note.price_buy, unit:"zł", precision: 2, format: "%n %u") %>
      </div>
    <% end %>
    <% if user_signed_in? && (current_user.role == 'admin') %>
      <div class="col">
        <strong>Cena:</strong>
        <%= number_to_currency(@note.price_sell, unit:"zł", precision: 2, format: "%n %u") %>
      </div>         
    <% end %>
      <div class="col">
        <strong>Nominał:</strong>
        <% @note.denomination %>
        <%= number_with_delimiter(@note.denomination , delimiter: " ") %>
      </div>
      <div class="col">
        <strong>Nazwa waluty:</strong>
        <%= @note.name_currency %>
      </div>
      <div class="col">
        <strong>Data:</strong>
        <%= @note.note_date %>
      </div>
      <div class="col">
        <strong>SERIA:</strong>
        <%= @note.series %>
      </div>
      <div class="col">
        <strong>Signature code:</strong>
        <%= @note.signature_code %>
      </div>
    
      
      <div class="col">
        <strong>Ilość:</strong>
        <%= @note.quantity %>
      </div>
      <div class="col">
        <strong>Stan banknotu:</strong>
        <%= @note.quality %>
      </div>
      <div class="col">
        <strong>Materiał:</strong>
        <%= @note.making %>
      </div>
      <% if (@note.note_width != nil && @note.note_height != nil) %>
       <div class="col">
        <strong>Wymiar:</strong>
          <%= @note.note_width.to_s + ' x ' + @note.note_height.to_s + ' mm' %>
        </div>
      <% end %>
      <div class="col">
        <strong>typ obrazka:</strong>
        <%= @note.img_type %> 
      </div>
      <div class="col">
        <strong>Status:</strong>
        <%= @note.status %>
      </div>
      <% if user_signed_in? && current_user.role == 'admin' %>
        <% if @note.status_sell != "" %>
          <div class="col">
              <strong>Status sprzedaży:</strong>
              <%= @note.status_sell %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <p>
    <strong>Description:</strong>
    <%= @note.description %>
  </p>
  <hr class="my-1">

  <% @avers = @note.avers_path %>
  <% @reverse = @note.reverse_path %>
 
  <%= render 'renders/show_image_lightbox' %>