<h2>BANKNOTY</h2>
<%= render 'notes/show_flag_country' %>

<div class="container row" style="text-align: center ">
    <% @notes.each do |note| %> 
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 primary-container" >
            <div class="image-out-container" >
                <div class="row image-container" >
                    <div class="item"  >
                      <img class="img-responsive image-collection_size" src=<%= note.avers_path %> alt = <%= note.avers_path %>>                      
                    </div >
                    <div class="item">                      
                        <img class="img-responsive image-collection_size" src=<%= note.reverse_path %> alt = <%= note.reverse_path %>>                     
                    </div>
                    <div class="item-collection-info">
                      <%= "Rok: " + note.note_date.to_s %><br/>
                      <%= "Nominał: " + note.denomination.to_s %><br/>
                      <%= "Waluta: " + note.name_currency.to_s %>
                    </div>
                </div>
                
            
                  <div class="btn-image-collection" >
                    <%= link_to 'Show', show_note_user_path(note), class:"btn btn-outline-info btn-sm", style:"float:left" %> 
                    <%= link_to 'Back', back_show_currency_path(note.currency_id), class:"btn btn-secondary btn-sm", style:"float:right" %>                        
                  </div>
                
            </div>
        </div>
    <% end %>
</div>



<%
=begin%>
 <table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
      <th>Id</th>
      <th>Nominał</th>
      <th>Waluta</th>
      <th>Rok</th>
      <th>Materiał</th>     
      
      <th>Stan</th>
      <% if user_signed_in? && current_user.role == 'admin' %>
        <th>SIG</th>
        <th>Status</th>
        <th>Kupno</th>
         <th>Cena</th>
      <% end %>
      
      <th>Averse</th>
      <th>Reverse</th>

    </tr>
  </thead>
  <% @notes.each do |note| %>

      <tr>
        <td><%= note.id %></td>
        <td><%= note.denomination %></td>
        <td><%= note.name_currency %></td>
        <td><%= note.note_date %></td>
        <td><%= note.making %></td>        
        
        <td><%= note.quality %></td>
        <% if user_signed_in? && current_user.role == 'admin' %>
          <td><%= note.signature_code %></td>
          <td><%= note.status %></td>
          <td><%= note.price_buy %></td>
          <td><%= note.price_sell.to_s + "zł" %></td>
        <% end %>
        
        <td>        
        	<% if (note.avers_path.length > 200) %>
              <img src=<%= note.avers_path %> alt = <%= note.avers_path %> style="width:100%;height:100%;" >
            <% else %>
            	<%= note.avers_path %>
            <% end %> 
        </td>
        <td>        
            <% if (note.reverse_path.length > 200) %>
              <img src=<%= note.reverse_path %> alt = <%= note.reverse_path %> style="width:100%;height:100%;" >
            <% else %>
            	<%= note.reverse_path %>
            <% end %> 
        </td>
        
      </tr>
     <!-- <%= (note.avers_path.length) %> -->
  <% end %>
</table> 
<%
=end%>
