<%= form_with(model: note) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="col field">
  <%= form.label :currency_id %>
  <%= form.text_field :currency_id, value:@note.currency_id %>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col field">
      <%= form.label :Data_zakupu %><br/>
       <%= form.date_select :date_buy_note, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Miejsce_zakupu %>
      <%= form.text_field :bought, class:"form-control" %>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col field">
      <%= form.label :Nominał %>
      <%= form.text_field :denomination, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Waluta %>
      <%= form.text_field :name_currency, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Seria %>
      <%= form.text_field :series, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Data %>
      <%= form.text_field :note_date, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Materiał %>
      <%= form.text_field :making, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Sygnatura %>
      <%= form.number_field :signature_code, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Kupno %>
      <%= form.text_field :price_buy, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Sprzedaż %>
      <%= form.text_field :price_sell, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Ilość %>
      <%= form.number_field :quantity, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Stan %>
      <%= form.text_field :quality, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Status %>
      <%= form.text_field :status, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Status_sprzedaży %>
      <%= form.text_field :status_sell, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Typ_obrazka %>
      <%= form.text_field :img_type, class:"form-control" %>
    </div>
    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, class:"form-control" %>
    </div>

  </div>
  <div class="field">
    <%= form.label :avers_path %>
    <%= form.text_field :avers_path, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :reverse_path %>
    <%= form.text_field :reverse_path, class:"form-control" %>
  </div>
</div>
  
  <br/>
  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
