<%= form_with(model: note) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :currency_id %>
    <%= form.text_field :currency_id %>
  </div>

  <div class="field">
    <%= form.label :denomination %>
    <%= form.text_field :denomination %>
  </div>

  <div class="field">
    <%= form.label :name_currency %>
    <%= form.text_field :name_currency %>
  </div>

  <div class="field">
    <%= form.label :note_date %>
    <%= form.text_field :note_date %>
  </div>

  <div class="field">
    <%= form.label :signature_code %>
    <%= form.number_field :signature_code %>
  </div>

  <div class="field">
    <%= form.label :price_buy %>
    <%= form.text_field :price_buy %>
  </div>

  <div class="field">
    <%= form.label :price_sell %>
    <%= form.text_field :price_sell %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :quality %>
    <%= form.text_field :quality %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :img_type %>
    <%= form.text_field :img_type %>
  </div>

  <div class="field">
    <%= form.label :avers_path %>
    <%= form.text_area :avers_path %>
  </div>

  <div class="field">
    <%= form.label :reverse_path %>
    <%= form.text_area :reverse_path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
