<div  class="card  text-white bg-info">
  <div class="container row">
		<div class="col-md-2">
      <div class="header">
        <h5>Editing Note</h5>
      </div>
		</div>
		<div class="col-md-8">
			<%= render 'renders/show_flag_country' %>
		</div>			
		<div class="col-md-2">
		</div>
  </div>
</div>

<%= render 'form', note: @note %>
<% if user_signed_in? && current_user.role == 'admin' %>
  <div class="container">
      <!-- <%= link_to 'Back', notes_path %> -->
      <%= link_to (render 'renders/button_back'), note_show_currency_path(@note.currency_id), class:"btn btn-sm btn-secondary" %>
      <%= link_to (render 'renders/button_show'), @note, class:"btn btn-sm btn-info" %> 
  </div>
<% end %>