<div  class="card  text-white bg-info">
  <div class="header">
    <h3>Editing Note</h3>
  </div>
  <div class="container">
    <%= render 'notes/show_flag_country' %>
  </div>  
</div>

<%= render 'form', note: @note %>
<div class="container">
    <%= link_to 'Show', @note, class:"btn btn-sm btn-secondary" %> 
    <!-- <%= link_to 'Back', notes_path %> -->
    <%= link_to 'Back', note_show_currency_path(@note.currency_id), class:"btn btn-sm btn-dark" %>
</div>