<div class="jumbotron">

<%= render 'renders/jumbotron_currency' %>

</div>

<h2>Waluty</h2>
 <table class="table table-sm table-striped table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
      <th>COD</th>
      <th>Waluta</th>
      <th>Drobne</th>
      <th>Active</th>
      <th>Data wymiany</th>
      <%
=begin%>
 <th>wymiana na</th> 
<%
=end%>
      <th>Okres występowania</th>
      <th>przelicznik</th>
      <th>Rodzaj</th>
      <th>Opis</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @currencies.each do |currency| %>
    <tr>
      <td><%= currency.cod %></td>
      <td><%= currency.currency %></td>
      <td><%= currency.change %></td>
      <td><%= currency.active %></td>
      <td><%= currency.data_exchange %></td>
      <%
=begin%>
 <td><%= currency.currency_from %></td> 
<%
=end%>
      <td><%= currency.currency_series %></td>
      <td><%= currency.converter %></td>
      <td><%= currency.pattern %></td>
      <td><%= currency.description %></td>
      
      <td>
        <%= link_to 'Show', note_show_currency_path(currency), class:"btn btn-info btn-sm", style:"margin-bottom:10px" %>
        <%= link_to 'Edit', edit_currency_path(currency), class:"btn btn-primary btn-sm" %></td>
      <td>
        <%= link_to 'Delete', currency, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm", style:"float: right"  %>
      </td>

    </tr>
    <% end %>
</table>