<h3>NOTE SHOW CURRENCY</h3>

<div class="jumbotron">
  <h3 class="display-4">
      <strong>Państwo:</strong>
      <%= @currency.country.country_en %>
  </h3>
  <p>
    <strong>Cod:</strong><%= @currency.cod %>  |  
    <strong>Waluta:</strong><%= @currency.currency %>  |  
    <strong>Drobne:</strong><%= @currency.change %>
  </p>
  <p>
    <strong>Active:</strong><%= @currency.active %>  |  
    <strong>Data wymiany: </strong><%= @currency.data_exchange %>
    <strong style="color:red">Okres występowania: </strong><%= @currency.currency_series %>
  </p>
  <p>
    <strong>Poprzedna waluta:</strong><%= @currency.currency_from %>  |  
    <strong>Przelicznik:</strong><%= @currency.converter %>
  </p>
  <p>
    <strong>Description:</strong><%= @currency.description %>
  </p>
  
  <%= link_to 'Back', note_currencies_path(@currency.country_id), class:"btn btn-dark" %> 
  <%= link_to 'Add Note', new_currency_note_path(@currency), class:"btn btn-secondary" %> 
  <%= link_to 'Edit currency', edit_currency_path(@currency), class:"btn btn-primary", style:"float: right"  %> 
</div>

<div style="margin-right: 0%; margin-left: 0%;">
    <table class="table table-sm table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Nominał</th>
        <th>Waluta</th>
        <th>Rok</th>
        <th>SIG</th>
        <th>Status</th>
        <th>Kupno</th>
        <th>Sprzedaż</th>
        <th style="width:30%">Avers/Reverse</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @collection.each do |note| %>

        <tr>
            <td><%= note.id %></td>
            <td >
              <div style="float: right">
                <% note.denomination %>
                <%= number_with_delimiter(note.denomination , delimiter: " ") %>
              </div>
            </td>
            <td><%= note.name_currency %></td>
            <td><%= note.note_date %></td>
            <td><%= note.signature_code %></td>
            <td><%= note.status %></td>
            <td><%= note.price_buy %></td>
            <td><%= note.price_sell %></td>
            <td>        
                <% if (note.avers_path.length > 200) %>
                <div class="show-note">
                    <%= image_tag(note.avers_path, :alt => "AVERSE" , style:"width:40%;height:50%") %>
                    <%= image_tag(note.reverse_path, :alt => "REVERSE" , style:"width:40%;height:50%") %>
                </div>
                <% else %>
                    <%= note.avers_path %>
                <%= note.reverse_path %>
                <% end %> 
            </td>
            <td>
                <%= link_to 'Show', note_path(note), class:"btn btn-info btn-sm" %>
                <%= link_to 'Edit', edit_note_path(note), class:"btn btn-primary btn-sm" %>
            </td>
            <td>
                <%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm", style:"float: right"  %>
            </td>
        </tr>

    <% end %>
    
    </table>
</div>