<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <p> 
    <strong>Id:</strong>
    <%= @note.currency_id %>
  </p>
  <h1 class="display-4" id="notice"></h1>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <% if user_signed_in? && current_user.role == 'admin' %>
      <div class="col">
        <strong>Data zakupu:</strong>
        <%= @note.date_buy_note %>
      </div>  
      <div class="col">
        <strong>Miejsce zakupu:</strong>
        <%= @note.bought %>
      </div>
      <div class="col">
        <strong>cena zakupu:</strong>
        <%= @note.price_buy.to_s + "zł" %>
      </div>
      
      <div class="col">
        <strong>Cena:</strong>
        <%= @note.price_sell.to_s + "zł" %>
      </div>         
    <% end %>
      <div class="col">
        <strong>Nominał:</strong>
        <%= @note.denomination %>
      </div>
      <div class="col">
        <strong>Nazwa waluty:</strong>
        <%= @note.name_currency %>
      </div>
      <div class="col">
        <strong>Data:</strong>
        <%= @note.note_date %>
      </div>
      <div class="col">
        <strong>SERIA:</strong>
        <%= @note.series %>
      </div>
      <div class="col">
        <strong>Signature code:</strong>
        <%= @note.signature_code %>
      </div>
    
      
      <div class="col">
        <strong>Ilość:</strong>
        <%= @note.quantity %>
      </div>
      <div class="col">
        <strong>Stan banknotu:</strong>
        <%= @note.quality %>
      </div>
      <div class="col">
        <strong>Materiał:</strong>
        <%= @note.making %>
      </div>
      <div class="col">
        <strong>typ obrazka:</strong>
        <%= @note.img_type %> 
      </div>
      <div class="col">
        <strong>Status:</strong>
        <%= @note.status %>
      </div>
      <div class="col">
        <strong>Status sprzedaży:</strong>
        <%= @note.status_sell %>
      </div>
    </div>
  </div>
  <p>
    <strong>Description:</strong>
    <%= @note.description %>
  </p>
  <hr class="my-4">
 

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="">

      <div class="row">
          <div class="col col-lg-6">
            <img src=<%= @note.avers_path %> style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
          </div>
          <div class="col col-lg-6">
            <img src=<%= @note.reverse_path %> style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
          </div>
          
        </div>

        <div id="myModal" class="modal">
          <span class="close cursor" onclick="closeModal()">&times;</span>
          <div class="modal-content">

            <div class="mySlides">
              <div class="numbertext">1 / 2</div>
              <img src=<%= @note.avers_path %> style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">2 / 2</div>
              <img src=<%= @note.reverse_path %> style="width:100%">
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <%
=begin%>
 <div class="caption-container">
              <p id="caption"></p>
            </div> 
<%
=end%>


          <div class="" style="background-color: black;">
            <div class="column col col-lg-6">
              <img class="demo cursor" src=<%= @note.avers_path %> style="width:50%" onclick="currentSlide(1)" alt= "TEST">
            </div>
            <div class="column col col-lg-6">
              <img class="demo cursor" src=<%= @note.reverse_path %> style="width:50%" onclick="currentSlide(2)" alt= "TEST">
            </div>
          </div>
          </div>
        </div>




        <%
=begin%>
 <% if (@note.avers_path.length > 200) %>
           <img src=<%= @note.avers_path %> alt = <%= @note.avers_path %> style="width:100%;height:100%;" >
        <% else %>
          <%= @note.avers_path %>
        <% end %>
      </div>
      <div class="col col-lg-6">
        <% if (@note.reverse_path.length > 200) %>
          <img src=<%= @note.reverse_path %> alt = <%= @note.reverse_path %> style="width:100%;height:100%;" >
        <% else %>
          <%= @note.reverse_path %>
        <% end %> 
<%
=end%>
      </div>
    </div>
  </div>
  <br/><br/>
  <div>
    <%= link_to 'Edit', edit_note_path(@note), class:"btn btn-secondary" %> 
    <!-- <%= link_to 'Back', notes_path %> -->
    <%= link_to 'Back', currency_path(@note.currency_id), class:"btn btn-dark" %>
  </div>
</div>



<script>
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>



