<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @note.currency_id %>
</p>

<p>
  <strong>Denomination:</strong>
  <%= @note.denomination %>
</p>

<p>
  <strong>Name currency:</strong>
  <%= @note.name_currency %>
</p>

<p>
  <strong>Note date:</strong>
  <%= @note.note_date %>
</p>

<p>
  <strong>Signature code:</strong>
  <%= @note.signature_code %>
</p>

<p>
  <strong>Price buy:</strong>
  <%= @note.price_buy %>
</p>

<p>
  <strong>Price sell:</strong>
  <%= @note.price_sell %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @note.quantity %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @note.quality %>
</p>

<p>
  <strong>Status:</strong>
  <%= @note.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<p>
  <strong>Img type:</strong>
  <%= @note.img_type %>
</p>

<p>
  <strong>Avers path:</strong>
  <%= @note.avers_path %>
</p>

<p>
  <strong>Reverse path:</strong>
  <%= @note.reverse_path %>
</p>

<p>
  <strong>SERIA:</strong>
  <%= @note.series %>
</p>

<p>
  <strong>Making:</strong>
  <%= @note.making %>
</p>

<p>
  <strong>Data zakupu:</strong>
  <%= @note.date_buy_note %>
</p>

<p>
  <strong>Miejsce zakupu:</strong>
  <%= @note.bought %>
</p>

<p>
  <strong>Status Sell:</strong>
  <%= @note.status_sell %>
</p>

<%= link_to 'Edit', edit_note_path(@note), class:"btn btn-secondary" %> 
<!-- <%= link_to 'Back', notes_path %> -->
<%= link_to 'Back', currency_path(@note.currency_id), class:"btn btn-dark" %>
