<%= form_with(model: signature) do |form| %>
  <%
=begin%>
 <% if signature.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(signature.errors.count, "error") %> prohibited this signature from being saved:</h5>

      <ul>
        <% signature.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
<%
=end%>
  <div class="row">
    
    <div class="col-sm">

      <div class="field">
        <%= form.label :"signature_cod" %>
        <%= form.text_field :signature_cod, class:"form-control form-control-sm" %>
        <% signature.errors.full_messages_for(:signature_cod).each do |message| %>
          <div  class="alert alert-danger" role="alert"><%= message %></div>
        <% end %>
      </div>
      <h3><%= @test %>  </h3>
      <div class="field">
        <%= form.label :short_name %>
        <%= form.text_field :short_name, class:"form-control form-control-sm" %>
      </div>

      <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description, class:"form-control form-control-sm" %>
      </div>

      <div class="actions">
        <%= form.submit class:"btn btn-primary btn-sm" %>
      </div>
    </div>
    
  </div>
<% end %>

