<div class="jumbotron">
  <h1 class="display-4"><%= t('description_of_signature') %></h1>
  <p>
    <strong><%= t('activerecord.attributes.signature.signature_cod') + ": " %></strong>
    <%= @signature.signature_cod %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.signature.short_name') + ": " %></strong>
    <%= @signature.short_name %>
  </p>
  <p>
    <strong><%= t('activerecord.attributes.signature.description') + ": " %></strong>
    <%= @signature.description %>
  </p>
  <hr class="my-4">
  <%= link_to (render 'renders/button_back'), signatures_path, class:"btn btn-secondary btn-sm" %>
  <%= link_to (render 'renders/button_edit'), edit_signature_path(@signature), {class:"btn btn-primary btn-sm", 'data-toggle' => "modal", 'data-target' => "#staticBackdrop"} %> 
</div>


<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true")>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edytuj Kod Sygnatury</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= render 'form', signature: @signature %>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
