<h2> Edycja Danych</h2>
<%
=begin%>
 <h2>Edit <%= resource_name.to_s.humanize %></h2> 
<%
=end%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "email" %>
  </div>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, class:"form-control", placeholder: "name" %>
  </div>

  <div class="field">
    <%= f.label :lastname %> <br/>
    <%= f.text_field :lastname, class:"form-control", placeholder: "lastname" %>
  </div>

  <% if current_user.role == 'admin' %>
    <div class="field">
      <%= f.label :role %><br/>
      <%= f.text_field :role, class:"form-control", placeholder: "admin/user" %>
    </div>
  <% end %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder: "confirm-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? 
  <br/>
  <%= link_to (render "renders/button_delete") + " my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-sm" %>
</p>

<%= link_to (render "renders/button_back"), :back, class:"btn btn-secondary btn-sm" %>
