<div class="container">
    <div class="row justify-content-md-center">
      <div class="">

      <div class="row">
          <div class="col col-lg-6 center-row">
            <img src=<%= @avers %> onclick="openModal();currentSlide(1)" class="hover-shadow cursor image-size-show">
          </div>
          <div class="col col-lg-6 center-row">
            <img src=<%= @reverse %> onclick="openModal();currentSlide(2)" class="hover-shadow cursor image-size-show">
          </div>
          
        </div>

        <div id="myModal" class="modal_lightbox">
          <span class="close cursor" onclick="closeModal()">&times;</span>
          <div class="modal-content center-row">

            <div class="mySlides">
              <div class="numbertext">1 / 2</div>
              <img src=<%= @avers %>, style="max-width:100%; max-height:700px">
            </div>

            <div class="mySlides">
              <div class="numbertext">2 / 2</div>
              <img src=<%= @reverse %>, style="max-width:100%; max-height:700px">
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>     

<!--            <div class="caption-container">-->
<!--              <p id="caption"></p>-->
<!--              <span> TEST</span>-->
<!--            </div>  -->

          <div class="" style="background-color: black;">
            <div class="column col col-lg-6">
              <img class="demo cursor" src=<%= @avers %> style="width:50%" onclick="currentSlide(1)" alt= "AVERS">
            </div>
            <div class="column col col-lg-6">
              <img class="demo cursor" src=<%= @reverse %> style="width:50%" onclick="currentSlide(2)" alt= "REVERS">
            </div>
            <% if (defined?(@note.note_width) != nil) %>
              <% if (@note.note_width != nil && @note.note_height != nil) %>
                <div style="color: lightgray">
                  <strong><%= t('dimension') %></Strong>     
                  <%= @note.note_width.to_s + ' x ' + @note.note_height.to_s + ' mm' %>
                </div>
              <% end %>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function openModal() {
      document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
</script>