<div class="jumbotron", style="padding-top:5px">
 <%= form_with(model: currency) do |form| %>
  <% if currency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(currency.errors.count, "error") %> prohibited this currency from being saved:</h2>

      <ul>
        <% currency.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="text-align:center">
    <h3><%= @currency.country %></h3>
  </div>
  <div class="field ">
    <%= form.label :country_id %>
    <%= form.text_field :country_id, value:@currency.country_id %>
  </div>

  <table class="table table-striped table-bordered table-hover">
    <tr>
      <td>
        <div class="field ">
          <% form.label :cod %>
          <%= form.text_field :cod, class:"form-control form-control-sm", placeholder:"Kod"%>
        </div>
      </td>
      <td>
        <div class="field ">
          <% form.label :pattern %>
          <%= form.select :pattern, Pattern.all.map { |p| [p.name_en, p.name_en]}, {:include_blank => "Select(Pattern)"}, class:"form-control form-control-sm" %>
          <% currency.errors.full_messages_for(:pattern).each do |message| %>
            <div style="color:red" ><%= message %></div>
          <% end %>
        </div>

      </td>
      <td>
        <div class="field ">
          <% form.label :currency %>
         <%= form.text_field :currency, class:"form-control form-control-sm", placeholder:"Waluta" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field ">
          <% form.label :change %>
          <%= form.text_field :change, class:"form-control form-control-sm", placeholder:"Drobne" %>
        </div>
      </td>
      <td>
        <div class="field ">
          <% form.label :active %>
          <%= form.number_field :active, class:"form-control form-control-sm", placeholder:"Active" %>
        </div>
      </td>
      <td>
        <div class="field">
          <% form.label :data_exchange %>
          <%= form.text_field :data_exchange, class:"form-control form-control-sm", placeholder:"Data wymiany" %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <div class="field">
          <% form.label :currency_series %>
          <%= form.text_field :currency_series, class:"form-control form-control-sm", placeholder:"Okres wystepowania" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field ">
          <% form.label :currency_from %>
          <%= form.text_field :currency_from, class:"form-control form-control-sm", placeholder:"Poprzedni awaluta" %>
        </div>
      </td>
      <td>
        <div class="field ">
          <% form.label :converter %>
          <%= form.text_field :converter, class:"form-control form-control-sm", placeholder:"Przelicznik" %>
        </div>
      </td>
    </tr>
  </table>  

  <div class="field ">
    <% form.label :description %>
    <%= form.text_area :description, class:"form-control form-control-sm", placeholder:"Opis" %>
  </div>

  <div class="actions">
    <%= form.submit value="Dodaj walutę", class:"btn btn-primary" %>
  </div>
<% end %>

</div>


