<p id="notice"><%= notice %></p>

<h1>Currencies</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Cod</th>
      <th>Currency</th>
      <th>Change</th>
      <th>Active</th>
      <th>Data exchange</th>
      <th>Currency from</th>
      <th>Converter</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <td><%= currency.country_id %></td>
        <td><%= currency.cod %></td>
        <td><%= currency.currency %></td>
        <td><%= currency.change %></td>
        <td><%= currency.active %></td>
        <td><%= currency.data_exchange %></td>
        <td><%= currency.currency_from %></td>
        <td><%= currency.converter %></td>
        <td><%= currency.description %></td>
        <td><%= link_to 'Show', currency %></td>
        <td><%= link_to 'Edit', edit_currency_path(currency) %></td>
        <td><%= link_to 'Destroy', currency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Currency', new_currency_path %>
