<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @currency.country %>
</p>

<p>
  <strong>Cod:</strong>
  <%= @currency.cod %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @currency.currency %>
</p>

<p>
  <strong>Change:</strong>
  <%= @currency.change %>
</p>

<p>
  <strong>Active:</strong>
  <%= @currency.active %>
</p>

<p>
  <strong>Data exchange:</strong>
  <%= @currency.data_exchange %>
</p>

<p>
  <strong>Currency from:</strong>
  <%= @currency.currency_from %>
</p>

<p>
  <strong>Converter:</strong>
  <%= @currency.converter %>
</p>

<p>
  <strong>Description:</strong>
  <%= @currency.description %>
</p>

<%= link_to 'Edit', edit_currency_path(@currency) %> |
<!-- <%= link_to 'Back', currencies_path(@currency) %> -->
 <td><%= link_to 'Back', country_path(@currency.country_id) %></td>

<h2>Banknoty</h2>
 <table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
      <th>Nominał</th>
      <th>Waluta</th>
    
    </tr>
  </thead>
  <% @currency.note.each do |note| %>
    <tr>
      <td><%= note.denomination %></td>
      <td><%= note.name_currency %></td>
    

    </tr>
    <% end %>
</table>