<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h3 class="display-4">
      <strong>Państwo:</strong>
      <%= @currency.country.country_en %>
  </h3>
  <p>
    <strong>Cod:</strong><%= @currency.cod %>  |  
    <strong>Waluta:</strong><%= @currency.currency %>  |  
    <strong>Drobne:</strong><%= @currency.change %>
  </p>
  <p>
    <strong>Active:</strong><%= @currency.active %>  |  
    <strong>Data wymiany (Okres) : </strong><%= @currency.data_exchange %>
  </p>
  <p>
    <strong>Poprzedna waluta:</strong><%= @currency.currency_from %>  |  
    <strong>Przelicznik:</strong><%= @currency.converter %>
  </p>
  <p>
    <strong>Description:</strong><%= @currency.description %>
  </p>
  <!-- <hr class="my-4"> -->
 <!--  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  <%= link_to 'Edit', edit_currency_path(@currency), class:"btn btn-secondary" %> 
  <!-- <%= link_to 'Back', currencies_path(@currency) %> -->
  <%= link_to 'Back', country_path(@currency.country_id), class:"btn btn-dark" %>
  <%= link_to 'Add Note', new_currency_note_path(@currency), class:"btn btn-secondary" %>

</div>


<h2>Banknoty tu jestem</h2>
 <table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
      <th>Id</th>
      <th>Nominał</th>
      <th>Waluta</th>
      <th>Rok</th>
      <th>Materiał</th>
      <th>SIG</th>
      <th>Status</th>
      <th>Kupno</th>
      <th>Sprzedaż</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% @collection.each do |note| %>

    <% if note.avers_path.length < 200 %>
      <tr style="background-color:lightskyblue">
        <td><%= note.id %></td>
        <td><%= note.denomination %></td>
        <td><%= note.name_currency %></td>
        <td><%= note.note_date %></td>
        <td><%= note.making %></td>
        <td><%= note.signature_code %></td>
        <td><%= note.status %></td>
        <td><%= note.price_buy %></td>
        <td><%= note.price_sell %></td>
        <td><%= link_to 'Show', currency_note_path(note) %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% else %>
     <tr >
        <td><%= note.id %></td>
        <td><%= note.denomination %></td>
        <td><%= note.name_currency %></td>
        <td><%= note.note_date %></td>
        <td><%= note.making %></td>
        <td><%= note.signature_code %></td>
        <td><%= note.status %></td>
        <td><%= note.price_buy %></td>
        <td><%= note.price_sell %></td>
        <td><%= link_to 'Show', currency_note_path(note) %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
  <% end %>
  
</table>