<div class="container">
  <div class="row">
    <div class="col-4" style="float: right">
      <div style=" margin:10px;">
        <a href="https://www.leftovercurrency.com/" style="color:black">
          <%= image_tag("header/leftover-currency-logo.png", :alt => "Leftover currency" ,
                        style:"max-width:70%; min-width:100px; background-color: lightgrey; padding:10px")%>
        </a>
      </div>
      <%= link_to "Rate Gold",root_path, {class:"btn btn-primary btn-sm", style:"background: green; color:black" , 'data-toggle' => "modal", 'data-target' => "#staticBackdrop"} %>
    </div>
    TEST
    <div class="col-4">
      <% if @response_code =="200" %>
        <span><%= "Data - " + @exchange.effectiveDate %></span>
          <table class="table table-striped table-bordered table-hover table-sm" style="font-size: small; background: darkgray">
            <thead class="thead-dark">
                <tr>
                    <th>Waluta</th>
                    <th>Kod</th>
                    <th>Sredni</th>
                </tr>
            </thead>
            <% @exchange.rates.each do |rate| %>
                <tr>
                    <td><%= rate.currency %></td>
                    <td><%= rate.code %></td>
                    <td><%= rate.mid %></td>
                </tr>
            <% end %>

          </table>
      <% else %>
        <B>KOD-</B><%=@response_code %>
      <% end %>
    </div>
  </div>

  <div style="text-align: center">
    <h4>"Warto być Polakiem"</h4>
    <img style="max-width:25%; max-width: 300px" src="https://pehkkw.am.files.1drv.com/y4mVyqQ1Bvi_fY58Tc0V5IV-zDzuYiaVusuCkytCdWOh1ttIG7Rwf7L0C3VGBuZn-VzYKlpH48BD9oQj3z6Lbaw2rL-tmvJ8K4W7KHtjbQlT4qLN6sXv7maMdJ7GuX3OfhUDQEz30olkcxYv89DhMEBozmPrTwxuVAkyOnS0X5KQMFr9H46I0U-FMUp8e4Up11abL2BQrhzv9Q0v8BhdjSeaQ/Poland_20_Zlotych_201a_2021_LK0003267.jpg?psid=1">
    <img style="max-width:25%; max-width: 300px"  src="https://pehkkw.am.files.1drv.com/y4mOdmvkwY8-GqvJ3LZFv6q1aiEGay6W_jl1y2-lZAXDTnfM6TVKRX5YixHESDb3jxrb6Fg15ZjoSj4HDsy9LgW6X4VjonKo-fFvOZocLQdUgaa16RJcSySfUI1Dh7tXis3XYRPF9d2wUASoYdU-Z3uEclwtZ4cwGvIeMlu7B32ioBl_mbqik72rvI4TlR2GKX16CLwKZhA3IjiLXTW7xSFCg/Poland_20_Zlotych_201b_2021_LK0003267.jpg?psid=1">
  </div>
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true")>
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content" style="background: lightgray">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">KURS Złota</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
<!--            <span style="text-align: center">Kurs Złota</span>-->
            <% if @response_code_gold == "200"  %>
              <table class="table table-striped table-bordered table-hover table-sm" style="max-width: 100%; min-width: 30%; font-size: small; background: darkgray">
                <thead class="thead-dark">
                <tr>
                  <th>Data</th>
                  <th>Cena/gr</th>
                  <th>Cena/oz</th>
                  <th>Zmiana</th>
                </tr>
                </thead>
                <% @rate_gold.each do |rate| %>
                  <tr>
                    <td><%= rate.date %></td>
                    <td><%= number_to_currency(rate.price_for_gram, unit:"zł", precision: 2, format: "%n %u") %></td>
                    <td><%= number_to_currency(rate.price_for_ounce, unit:"zł", precision: 3, format: "%n %u") %></td>
                    <td class="<%= rate.change > 0 ? 'up' : 'down' %>" style="background-color: #151515" align="right">
                      <%= number_to_currency(rate.change, unit:"%", precision: 3, format: "%n%u") %>
                      <%= rate.change > 0 ? (render 'renders/icon_arrow_up') : (render 'renders/icon_arrow_down') %>
                    </td>
                  </tr>
                <% end %>

              </table>
            <% else %>
              <B>KOD-</B><%=@response_code_gold %>
            <% end %>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>