<%
=begin%>
 <!-- <% @chart.each do |c| %> -->
	<!-- <%= c.name %> </br> -->

<!-- <% end %> -->
<!-- </br> -->
<!-- <%= @dataChart %>  --> 
<%
=end%>
<span ></span>


<%
=begin%>
 <div class="background-flags container">
  <%= render 'home/chart_card' %>
</div>  
<%
=end%>



<div class="container">
  <div class="row">
    <div class="col"> 
      <div style=" margin:10px;">
        <a href="https://www.leftovercurrency.com/" style="color:black">
          <%= image_tag("header/leftover-currency-logo.png", :alt => "Leftover currency" ,
          style:"width:70%;height:70%; background-color: lightgrey; padding:10px")%>
        </a>
      </div>    
    </div>
    
    <div class="col-4">
    <%
=begin%>
 <%= "Tabela - " + @exchange.table.to_s %> <br/> 
    <%= "Numer - " + @exchange.no.to_s %> <br/> 
<%
=end%>
    <%= "Data - " + @exchange.effectiveDate %>
      <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Waluta</th>
                <th>Kod</th>
                <th>Sredni</th>
            </tr>
        </thead>
        <% @exchange.rates.each do |rate| %>
            <tr>
                <td><%= rate.currency %></td>
                <td><%= rate.code %></td>
                <td><%= rate.mid %></td>
            </tr>
        <% end %>

      </table>
    </div>
    <div class="col">
      
    </div>
  </div>
  <div>
    <img style="width:30%; transform: rotate(90deg); float: left; margin-top:70px" src="https://pehkkw.am.files.1drv.com/y4mcBSepldgihbxA357EiC_o325gJuhgQLd6DAc-nT-Yve19ok8UBI1EpTNLhGDBzTg-KL_Ksj4brQQn4J5zDwrjDCkLnev6ixbm4Dhn8ULgNxl5mGi9IJSLQDYcVKSPb6VXYPuugEZaJLW59K0nsMGQtf3aWngWpzmZV4SCQPyOqXd-8OCt2k_1CErtKA3nVc6pab827IHNf540P_9aSCsbg/Poland_20_Zlotych_201a_2020.jpg?psid=1">
    <img style="width:30%; transform: rotate(90deg); float: left; margin-top:70px" src="https://pehkkw.am.files.1drv.com/y4mrii21PL5Gca-_qjjyxs3f_WJAnOuw8nt35dav1b_TrvDUv4wuVQ4QdclBo7rNESqjgkVuxxDherSuAnNtV2oRfo9tpltzxYVQz_4N7U99kQDR_SGlkIxCQThgUGmtmSCUI-PEV1eZNUV2zUPEAHlzlbUlRmCQDY6Vuv89fUVGCRPiQhoMn-CpNNdKPQ6vmGuEa5XdveNm4CTcLDgzuNq7g/Poland_20_Zlotych_201b_2020.jpg?psid=1">
  </div>
</div>


