<div class="container">
  <div class="row">
  <div class="col-4">
    <% if @response_code =="200" %>
      <span><%= "Data - " + @exchange.effectiveDate %></span>
        <table class="table table-striped table-bordered table-hover table-sm" style="font-size: small">
          <thead class="thead-dark">
              <tr>
                  <th>Waluta</th>
                  <th>Kod</th>
                  <th>Sredni</th>
              </tr>
          </thead>
          <% @exchange.rates.each do |rate| %>
              <tr>
                  <td><%= rate.currency %></td>
                  <td><%= rate.code %></td>
                  <td><%= rate.mid %></td>
              </tr>
          <% end %>

        </table>
    <% else %>
      <B>KOD-</B><%=@response_code %>
    <% end %>
  </div>
    <div class="col-4">
      <span style="text-align: center">Kurs Złota</span>
      <% if @rate_gold != false  %>
        <table class="table table-striped table-bordered table-hover table-sm" style="font-size: small">
          <thead class="thead-dark">
          <tr>
            <th>Data</th>
            <th>Cena</th>
            <th>Cena</th>
            <th>Zmiana</th>
          </tr>
          </thead>
          <% @rate_gold.each do |rate| %>
            <tr>
              <td><%= rate.date %></td>
              <td><%= number_to_currency(rate.price_for_gram, unit:"zł/gr", precision: 2, format: "%n %u") %></td>
              <td><%= number_to_currency(rate.price_for_ounce, unit:"zł/Oz", precision: 3, format: "%n %u") %></td>
              <td class="<%= rate.change > 0 ? 'up' : 'down' %>" style="background-color: #151515" align="right"><%= number_to_currency(rate.change, unit:"%", precision: 3, format: "%n%u")  %></td>
            </tr>
          <% end %>

        </table>
      <% else %>
        <h3>ERROR 404</h3>
      <% end %>
    </div>

  </div>
  <div class="col-2" style="float: right">
    <div style=" margin:10px;">
      <a href="https://www.leftovercurrency.com/" style="color:black">
        <%= image_tag("header/leftover-currency-logo.png", :alt => "Leftover currency" ,
                      style:"width:70%;height:70%; background-color: lightgrey; padding:10px")%>
      </a>
    </div>
  </div>
  <div>
    <img style="width:25%" src="https://pehkkw.ch.files.1drv.com/y4muxeaNpoJz-ILuHG-1AwPz2sUN-zN6vmaoPHFwe24M0ZgZ5xrxfU8XxpR7ANJ1Lom-p8XP_bCIeoRib6qacOJzBA1ZOQkX0WlbBNOccJD7V38GjEizFoiqAR1CzqbL_OtiXJmWz5TWjCmQvqMAto6IDPwWpsZNf0xBAfEBC-kwrPqVvVr6DR4um6oROlMjnPwSVUD7xhgtRPOb6pBhZJJ9A/Poland_20_Zlotych_201a_2018.jpg?psid=1">
    <img style="width:25%"  src="https://pehkkw.ch.files.1drv.com/y4mPUbTFUvHbOBFzyXzwYt9vmStv09xK42uSKR9Yf-WqCius38bsURQs6oUC3Yy_MoNzxlsr6oXrUTm33vcC0NsZW3yxDs84VpdiWwJ4mdC_9cxlEFc_2uS1XqFCautZuLeQ6F_iZjih6rSp_-sqLE19BxKQu61mMgPnTL64VfbvKxKYR71h3ujRfU63e9n0OTt6mAF_nxZPu_5j0ZqQQWCqA/Poland_20_Zlotych_201b_2018.jpg?psid=1">
  </div>
  
</div>