<%= form_with(model: setting) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
        <% setting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="width: 400px">
    <%= form.label :web %>
    <%= form.text_field :web, class:"form-control form-control-sm" %>
  </div>

  <div class="field" style="width: 400px">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control form-control-sm"  %>
  </div>

  <div class="field" style="width: 400px">
    <%= form.label :value %>
    <%= form.text_field :value, class:"form-control form-control-sm"  %>
  </div>

  <div class="field" style="width: 400px">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control form-control-sm"  %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary btn-sm"%>
  </div>
<% end %>
