<p id="notice"><%= notice %></p>

<h1>Settings</h1>

<table class="table table-sm table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th><%= t('activerecord.attributes.setting.web') %></th>
      <th><%= t('activerecord.attributes.setting.name') %></th>
      <th><%= t('activerecord.attributes.setting.value') %></th>
      <th><%= t('activerecord.attributes.setting.description') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.web %></td>
        <td><%= setting.name %></td>
        <td><%= setting.value %></td>
        <td><%= setting.description %></td>
        <td style="width: 120px">
          <%= link_to (render 'renders/button_show_small_icon'), setting, class:"btn btn-info btn-sm" %>
          <%= link_to (render 'renders/button_edit_small_icon'), edit_setting_path(setting), class:"btn btn-primary btn-sm" %>
          <%= link_to (render 'renders/button_delete_small_icon'), setting, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Setting', new_setting_path, class:"btn btn-primary btn-sm" %>
