<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.setting.web') + ':' %></strong>
  <%= @setting.web %>
</p>

<p>
  <strong><%= t('activerecord.attributes.setting.name') + ':' %></strong>
  <%= @setting.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.setting.value') + ':' %></strong>
  <%= @setting.value %>
</p>

<p>
  <strong><%= t('activerecord.attributes.setting.description') + ':' %></strong>
  <%= @setting.description %>
</p>

<%= link_to (render 'renders/button_edit'), edit_setting_path(@setting), class:"btn btn-primary btn-sm" %>
<%= link_to (render 'renders/button_back'), settings_path, class:"btn btn-secondary btn-sm" %>
