<%= link_to (render 'renders/button_back'), back_show_currency_coin_path(@coins[0].currency_id), class:"btn btn-secondary btn-sm", style:"float:left" %><br/>
<%
=begin%>
 <h2>Monety</h2> 
<%
=end%>
<%= render 'renders/show_flag_country' %>

<div class="container row" style="text-align: center ">
    <% @coins.each do |coin| %> 
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 primary-container" >
            <div class="image-out-container" >
                <div class="row image-container" >
                    <div class="item"  >
                      <img class="img-responsive image-collection_size" src=<%= coin.avers_path %> alt = <%= coin.avers_path %>>                      
                    </div >
                    <div class="item">                      
                        <img class="img-responsive image-collection_size" src=<%= coin.reverse_path %> alt = <%= coin.reverse_path %>>                     
                    </div><br/>
                    <div class="item-collection-info" style="margin-top: 10%;">
                      <%= "Rok: " + coin.coin_date.to_s %><br/>
                      <%= "Nominał: " + number_with_delimiter(coin.denomination, delimiter: " ") %><br/>
                      <%= "Waluta: " + coin.name_currency.to_s %>
                      <div class="btn-image-collection" >
                        <%= link_to (render 'renders/button_show'), show_coin_user_path(coin), class:"btn btn-outline-info btn-sm", style:"float:left" %>                      
                      </div>
                    </div>
                </div>             
            </div>
        </div>
    <% end %>
</div>
<div class="container">
  <%= link_to (render 'renders/button_back'), back_show_currency_coin_path(@coins[0].currency_id), class:"btn btn-secondary btn-sm", style:"float:left" %><br/>
</div>