<div class="container row">
		<div class="col-md-2">
      <%= link_to (render 'renders/button_back'), back_show_currency_coin_path(@coins[0].currency_id), class:"btn btn-secondary btn-sm", style:"float:left" %><br/>
			<h3>Monety</h3>
		</div>
		<div class="col-md-8">
			<%= render 'renders/show_flag_country' %>
		</div>			
		<div class="col-md-2">
		</div>
</div>

<div class="container row" style="text-align: center ">
    <% @coins.each do |coin| %> 
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 primary-container" >
            <div class="image-out-container" >
                <div class="row image-container" >
                    <div class="item">
<!--                      <img class="img-responsive image-collection_size" src=<%#= coin.avers_path %>, alt, = <%#= coin.avers_path %>>-->
                      <% if (coin.avers_path.length > 200) %>
                        <%= link_to (image_tag(coin.avers_path, :alt => "AVERSE", class:"img-responsive image-collection_size")), show_coin_user_path(coin),
                                    {'data-toggle' => "modal", 'data-target' => "#" + "CC-A"+ coin.id.to_s} %>
                        <div class="modal fade" id=<%= "CC-A" + coin.id.to_s %> data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
                          <%= render 'coin_modal', image: coin.avers_path, coin: coin %>
                        </div>
                      <% else %>
                        <%= coin.avers_path %>
                      <% end %>
                    </div >
                    <div class="item">                      
<!--                        <img class="img-responsive image-collection_size" src=<%#= coin.reverse_path %>, alt, = <%#= coin.reverse_path %>>-->
                      <% if (coin.avers_path.length > 200) %>
                        <%= link_to (image_tag(coin.reverse_path, :alt => "REVERSE", class:"img-responsive image-collection_size")), show_coin_user_path(coin),
                                    {'data-toggle' => "modal", 'data-target' => "#" + "CC-B"+ coin.id.to_s} %>
                        <div class="modal fade" id=<%= "CC-B" + coin.id.to_s %> data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
                          <%= render 'coin_modal', image: coin.reverse_path, coin: coin %>
                        </div>
                      <% else %>
                        <%= coin.reverse_path %>
                      <% end %>
                    </div><br/>
                    <div class="item-collection-info" style="margin-top: 10%;">
                      <%= "Rok: " + coin.coin_date.to_s %><br/>
                      <% if (coin.denomination != nil) %>
                        <%= "Nominał: " + number_with_delimiter(coin.denomination, delimiter: " ") %><br/>
                      <% end %>
                      <%= "Waluta: " + coin.name_currency.to_s %>
                      <div class="btn-image-collection" >
                        <%= link_to (render 'renders/button_show'), show_coin_user_path(coin),
                                    {class:"btn btn-outline-info btn-sm", style:"float:left", 'data-toggle' => "modal", 'data-target' => "#" + "CC"+ coin.id.to_s} %>
                        <div class="modal fade" id=<%= "CC" + coin.id.to_s %> data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
                          <%= render 'show_coin_modal', coin: coin %>
                        </div>
                      </div>
                    </div>
                </div>             
            </div>
        </div>
    <% end %>
</div>
<div class="container">
  <%= link_to (render 'renders/button_back'), back_show_currency_coin_path(@coins[0].currency_id), class:"btn btn-secondary btn-sm", style:"float:left" %><br/>
</div>