<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <%= render 'notes/show_flag_country' %>
  <%= render 'coin_collection/show_coin' %>
  <div>
    <% if user_signed_in? && current_user.role == 'admin' %>
      <div style="float: left">
          <%= link_to 'Edit', edit_coin_path(@coin), class:"btn btn-secondary" %> 
          <%
=begin%>
 <%= link_to 'Back', coin_show_currency_coin_path(@coin.currency_id), class:"btn btn-dark" %> 
<%
=end%>
      </div>
    <% end %>
    <div style="float:right">
          <%
=begin%>
 <%= link_to 'Back', show_coin_path(@coin.currency_id), class:"btn btn-outline-info" %>  
<%
=end%>
    </div>
   </div>
</div>







