<!--<p id="notice"><%#= notice %></p>-->

<h1><%= t('list_customers') %></h1>
<div class="container">
  <%= link_to 'New Customer', new_customer_path, class:"btn btn-sm btn-primary" %>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark" style="font-size: 14px">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>Active</th>
      <th>City</th>
<!--      <th>Zip code</th>-->
<!--      <th>Street</th>-->
<!--      <th>Number</th>-->
      <th>Email</th>
<!--      <th>Nick</th>-->
<!--      <th>Phone</th>-->
<!--      <th>Description</th>-->
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td class="pt-1 pb-1"><%= customer.id %></td>
        <td class="pt-1 pb-1"><%= customer.name %></td>
        <td class="pt-1 pb-1"><%= customer.lastname %></td>
        <td class="pt-1 pb-1"><%= customer.active %></td>
        <td class="pt-1 pb-1"><%= customer.city %></td>
<!--        <td><%#= customer.zip_code %></td>-->
<!--        <td><%#= customer.street %></td>-->
<!--        <td><%#= customer.number %></td>-->
        <td class="pt-1 pb-1"><%= customer.email %></td>
<!--        <td><%#= customer.nick %></td>-->
<!--        <td><%#= customer.phone %></td>-->
<!--        <td><%#= customer.description %></td>-->
        <td class="pt-1 pb-1" style="width: 90px">
          <%= link_to (render 'renders/button_show_small_icon'), customer,
                      {class:"btn btn-info btn-sm", 'data-toggle' => "modal", 'data-target' => "#" + "Customer"+ customer.id.to_s} %>
          <div class="modal fade" id=<%= "Customer" + customer.id.to_s %> data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
            <%= render 'show_modal', customer: customer %>
          </div>
          <%= link_to (render 'renders/button_edit_small_icon'), edit_customer_path(customer), class:"btn btn-sm btn-primary" %>
        </td>
        <td class="pt-1 pb-1" style="width: 45px">
          <%= link_to (render 'renders/button_delete_small_icon'), customer, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

