<%= form_with(model: bought) do |form| %>
  <% if bought.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bought.errors.count, "error") %> prohibited this bought from being saved:</h2>

      <ul>
        <% bought.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col field">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control form-control-sm"%>
  </div>

  <div class="col field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, class:"form-control form-control-sm" %>
  </div>

  <div class="col field">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control form-control-sm" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary btn-sm" %>
  </div>
<% end %>
