<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Boughts</h1>
  <%= link_to t('new_seller'), new_bought_path, class:"btn btn-primary btn-sm"  %>
</div>
<div class="container">
  <table class="table table-sm table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th><%= t('activerecord.attributes.bought.name') %></th>
        <th><%= t('activerecord.attributes.bought.full_name') %></th>
        <th><%= t('activerecord.attributes.bought.description') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @boughts.each do |bought| %>
        <tr style="font-size: 12px;">
          <td style="font-weight: bold; font-size: 16px;"><%= bought.name %></td>
          <td><%= bought.full_name %></td>
          <td><%= bought.description %></td>
          <td style="width: 70px;">
            <%= link_to (render 'renders/button_show_small_icon'), bought, class:"btn btn-info btn-sm" %>
            <%= link_to (render 'renders/button_edit_small_icon'), edit_bought_path(bought), class:"btn btn-primary btn-sm" %>
          </td>
          <td>
            <%= link_to (render 'renders/button_delete_small_icon'), bought, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm", style:"float: right" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <h1>TEST MODALA</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%
=begin%>
 <button type="button" class="btn btn-primary">save</button> 
<%
=end%>
      </div>
    </div>
  </div>
</div>