<p id="notice"><%= notice %></p>

<h1>Boughts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Full name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boughts.each do |bought| %>
      <tr>
        <td><%= bought.name %></td>
        <td><%= bought.full_name %></td>
        <td><%= bought.description %></td>
        <td><%= link_to 'Show', bought %></td>
        <td><%= link_to 'Edit', edit_bought_path(bought) %></td>
        <td><%= link_to 'Destroy', bought, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bought', new_bought_path %>
