
<!-- <p id="notice"><%#= notice %></p> -->

<div class="jumbotron">
  <p>
    <strong><%= t('activerecord.attributes.bought.name') + ':' %></strong>
    <%= @bought.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.bought.full_name') + ':' %></strong>
    <%= @bought.full_name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.bought.description') + ':' %></strong>
    <%= @bought.description %>
  </p>

  <%= link_to (render 'renders/button_edit'), edit_bought_path(@bought), {class:"btn btn-primary btn-sm", 'data-toggle' => "modal", 'data-target' => "#staticBackdrop"} %> 
  <%= link_to (render 'renders/button_back'), boughts_path, class:"btn btn-secondary btn-sm"  %>
</div>


<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true")>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">EDYTUJ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= render 'form', bought: @bought %>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>