<!--<p id="notice"><%#= notice %></p>-->

<%= render 'show_customer', customer: @customer %>
<div class="container">
  <%= link_to 'New Order', new_customer_order_path, class:"btn btn-sm btn-primary" %>
  <h1>Orders</h1>
</div>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark" style="font-size: 14px">
    <tr>
      <th>Id</th>
<!--      <th>Customer</th>-->
      <th>Order number</th>
      <th>Order date</th>
      <th>Order date send</th>
      <th>Order status</th>
      <th>Tracking number</th>
      <th>Shipment type</th>
      <th>Shipment cost</th>
<!--      <th>Description</th>-->
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="p-1 m-1"><%= order.id %></td>
<!--        <td><%#= order.customer_id %></td>-->
        <td class="p-1 m-1" style="font-size: 12px"><%= order.order_number %></td>
        <td class="p-1 m-1"><%= order.order_date %></td>
        <td class="p-1 m-1"><%= order.order_date_send %></td>
        <td class="p-1 m-1"><%= order.order_status %></td>
        <td class="p-1 m-1"><%= order.tracking_number %></td>
        <td class="p-1 m-1"><%= order.shipment_type %></td>
        <td class="p-1 m-1"><%= order.shipment_cost %></td>
<!--        <td><%#= order.description %></td>-->
        <td class="p-1 m-1">
          <%= link_to (render 'renders/button_add_order_small_icon'), order_order_items_path(order), class: "btn btn-primary btn-vsm" %>
          <%= link_to (render 'renders/button_show_small_icon'), order,
                      {class:"btn btn-info btn-vsm", 'data-toggle' => "modal", 'data-target' => "#" + "Order"+ order.id.to_s} %>

          <div class="modal fade" id=<%= "Order" + order.id.to_s %> data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
            <%= render 'show_modal', order: order %>
          </div>
          <%= link_to (render 'renders/button_edit_small_icon'), edit_order_path(order), class:"btn btn-vsm btn-primary" %>
        </td>
        <td class="p-1 m-1">
          <%= link_to (render 'renders/button_delete_small_icon'), order, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-vsm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


