<h1>Editing Pattern</h1>

<%= render 'form', pattern: @pattern %>

<%= link_to render('renders/button_show'), @pattern, {class:"btn btn-info btn-sm", 'data-toggle' => "modal", 'data-target' => "#" + "P"+ @pattern.id.to_s} %>
  <div class="modal fade" id=<%= "P" + @pattern.id.to_s %> data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <%= render 'show_modal', pattern: @pattern %>
  </div>
<%= link_to render('renders/button_back'), patterns_path, class:"btn btn-secondary btn-sm" %>
