<h1>Goldapi</h1>

<% if @goldapi != nil %>
  <p style="font-size: 14px; font-weight: bold">Today: <%= @stat_gold_api.today %> | Yesterday: <%= @stat_gold_api.yesterday %> |
    <span class="<%= @stat_gold_api.this_month < 400 ? 'green' : 'red' %>">This Month: <%= @stat_gold_api.this_month %> </span> | Last Month: <%= @stat_gold_api.last_month %></p>
  <% if (@goldapi_metal_rates[0].error_gold_api.code == 0) || (@goldapi_metal_rates[0].error_gold_api.code == 859)  %>
    <h4><%= @goldapi_metal_rates[0].error_gold_api.error_message %></h4>
  <% else %>
    <% if @goldapi_metal_rates[0].error_gold_api.code == 200 %>
      <table class="table table-sm table-striped table-bordered table-hover" style="font-size: small; background: darkgray">
        <thead class="thead-dark">
        <tr>
          <th>Time</th>
          <th>Metal</th>
          <th>Currency</th>
          <th>Exchange</th>
          <th>Symbol</th>
          <th>Prev Close Price</th>
          <th>Open Price</th>
          <th>Low Price</th>
          <th>High Price</th>
          <th>Open Time</th>
          <th>Price</th>
          <th>Change</th>
          <th>Change %</th>
          <th>Ask</th>
          <th>Bid</th>
        </tr>
        </thead>
        <tbody>
          <% @goldapi_metal_rates.each do |metal| %>
            <% if (metal.error_gold_api.code == 200) %>
              <tr>
                <td align="right"><%= DateTime.strptime(metal.timestamp.to_s,'%s').strftime("%Y-%m-%d \n %H:%M:%S") %></td>
                <td><%= metal.metal %></td>
                <td><%= metal.currency %></td>
                <td><%= metal.exchange %></td>
                <td><%= metal.symbol %></td>
                <td align="right"><%= metal.prev_close_price %></td>
                <td align="right"><%= metal.open_price %></td>
                <td align="right"><%= number_to_currency(metal.low_price, unit:"", precision: 3, format: "%n%u") %></td>
                <td align="right"><%= metal.high_price %></td>
                <td align="right"><%= DateTime.strptime(metal.open_time.to_s,'%s').strftime("%Y-%m-%d \n %H:%M:%S") %></td>
                <td align="right"><%= number_to_currency(metal.price, unit:"$", precision: 3, format: "%n%u") %> </td>
                <td class="<%= metal.ch > 0 ? 'up' : 'down' %>" style="background-color: #151515; min-width: 70px;" align="right">
                  <%= number_to_currency(metal.ch, unit:"", precision: 2, format: "%n%u") %>
                  <%= metal.ch > 0 ? (render 'renders/icon_arrow_up') : (render 'renders/icon_arrow_down') %>
                </td>
                <td class="<%= metal.chp > 0 ? 'up' : 'down' %>" style="background-color: #151515; min-width: 70px;" align="right">
                  <%= number_to_currency(metal.chp, unit:"%", precision: 2, format: "%n%u") %>
                  <%= metal.chp > 0 ? (render 'renders/icon_arrow_up') : (render 'renders/icon_arrow_down') %>
                </td>
                <td align="right"><%= metal.ask %></td>
                <td align="right"><%= metal.bid %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <b><%= @goldapi_metal_rates[0].error_gold_api.code %> : <%= @goldapi_metal_rates[0].error_gold_api.error_message %></b>
    <% end %>
  <% end %>
<% else %>
  <h4>Error database</h4>
<% end %>
