<h1>KOLEKCJA OBLIGACJI</H1>
<div class="container row" style="text-align: center ">
    <% @bonds.each do |bond| %> 
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 primary-container">
            <div  class="image-out-container">
                <div class="row image-container">
                    <div class="item"  >
                        <% if (bond.avers_path.length > 200) %>
                            <img class="img-responsive image-collection_size"  src=<%= bond.avers_path %> alt = <%= bond.avers_path %>>
                        <% else %>
                            <%= bond.avers_path %>          
                        <% end %>
                    </div >
                    <div class="item">
                        <% if (bond.reverse_path.length > 200) %>
                            <img class="img-responsive image-collection_size" src=<%= bond.reverse_path %> alt = <%= bond.reverse_path %>>
                        <% else %>
                            <%= bond.reverse_path %>
                        <% end %>
                    </div>
                    <div class="item-collection-info">
                      <%= "Rok: " + bond.bond_date.to_s %><br/>
                      <%= "Nominał: " + bond.denomination.to_s %><br/>
                      <%= "Waluta: " + bond.name_currency.to_s %>
                    </div>
                </div>
                <div class="btn-image-collection">
                    <%= link_to 'Show', bond_path(bond), class:"btn btn-secondary" %> 
                </div>
            </div>
        </div>
    <% end %>
</div>



<%
=begin%>
 <div class="container">
    <div class="row row-cols-2 ">
        <% @bonds.each do |bond| %>  
        <div class="col"  >
                <div class="row">
                    <div class="col-md-8" style="width:30%;height:30%;" >
                        <% if (bond.avers_path.length > 200) %>
                            <img class="float-left image-collection-bond"src=<%= bond.avers_path %> alt = <%= bond.avers_path %>>
                        <% else %>
                            <%= bond.avers_path %>          
                        <% end %>
                    
                        <% if (bond.reverse_path.length > 200) %>
                            <img class="float-right image-collection-bond" src=<%= bond.reverse_path %> alt = <%= bond.reverse_path %>>
                        <% else %>
                            <%= bond.reverse_path %>
                        <% end %>
                    </div>
                  
                    
                </div>
                <div>
                    <%= link_to 'Show', bond_path(bond), class:"btn btn-secondary" %> 
                </div>
        </div>

        <% end%>
    </div> 
</div> 
<%
=end%>
