<!--<p id="notice"><%#= notice %></p>-->

<h1>Order Items</h1>
<%= link_to 'New Order Item', order_items_for_sell_path, class: "btn btn-primary btn-sm" %>


<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark" style="font-size: 14px">
    <tr>
      <th>Order</th>
      <th>Country</th>
      <th>Pattern</th>
      <th>Quantity</th>
      <th>Unit quantity</th>
      <th>Final price</th>
      <th>Description</th>
      <th>Note</th>
      <th>Coin</th>
      <th>Bond</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
<!--        <td><%#= order_item.order_id %></td>-->
        <td><%= order_item.order.order_number %></td>
        <td>
          <% if order_item.pattern == "NOTE" %>
            <%= order_item.note.currency.country.country_en %>
          <% elsif order_item.pattern == "COIN" %>
            <%= order_item.coin.currency.country.country_en %>
        <% end %>
        </td>
        <td><%= order_item.pattern %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.unit_quantity %></td>
        <td><%= order_item.final_price %></td>
        <td><%= order_item.description %></td>
        <td><%= order_item.note_id %></td>
        <td><%= order_item.coin_id %></td>
        <td><%= order_item.bond_id %></td>
        <td><%= link_to 'Show', order_item %></td>
        <td><%= link_to 'Edit', edit_order_item_path(order_item) %></td>
        <td><%= link_to 'Destroy', order_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Order Item', new_order_item_path %>
