<!--<p id="notice"><%#= notice %></p>-->

<%= render 'order_info' %>
<div>
  <h1>Order Items</h1>
  <%= link_to (render 'renders/button_back'), customer_orders_path($order[0].customer_id.inspect ), class: "btn btn-secondary btn-sm" %>
  <% if @order_items.length == 0 %>
    <%= link_to 'New Order Item', order_items_for_sell_path, class: "btn btn-primary btn-sm" %>
  <% elsif @order_items[0].order.order_status != "Close" %>
    <%= link_to 'New Order Item', order_items_for_sell_path, class: "btn btn-primary btn-sm" %>
  <% end %>
</div>


<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark" style="font-size: 14px">
    <tr style="font-size: 12px">
      <th class="p-1 m-1">Id</th>
      <th class="p-1 m-1">Country</th>
      <th class="p-1 m-1">Currency</th>
      <th class="p-1 m-1">Pattern</th>
      <th class="p-1 m-1">Quantity</th>
<!--      <th class="p-1 m-1">Unit quantity</th>-->
      <th class="p-1 m-1">Final price</th>
      <th class="p-1 m-1">Total</th>
      <th class="p-1 m-1">Description</th>
      <th class="p-1 m-1">Note</th>
      <th class="p-1 m-1">Coin</th>
      <th class="p-1 m-1" >Bond</th>
      <th class="p-1 m-1" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr style="font-size: 12px">
<!--        <td class = "p-1 m-1"><%#= order_item.order_id %></td>-->
<!--        <td class = "p-1 m-1" ><%#= order_item.order.order_number %></td>-->
        <td class = "p-1 m-1" style="text-align: right" ><%= order_item.id %></td>

          <% if order_item.pattern == "NOTE" %>
            <td class = "p-1 m-1">
              <%= order_item.note.currency.country.country_en %>
            </td>
            <td class = "p-1 m-1">
              <%= order_item.note.denomination %>
              <%= order_item.note.name_currency %>
            </td>
            <% elsif order_item.pattern == "COIN" %>
            <td class = "p-1 m-1">
              <%= order_item.coin.currency.country.country_en %>
            </td>
            <td class = "p-1 m-1">
              <%= order_item.coin.denomination %>
              <%= order_item.coin.name_currency %>
            </td>
          <% elsif order_item.pattern == "BOND"%>
            <td class = "p-1 m-1">
              <%= order_item.bond.currency.country.country_en %>
            </td>
            <td class = "p-1 m-1">
              <%= order_item.bond.denomination %>
              <%= order_item.bond.name_currency %>
            </td>
          <% end %>

        <td class = "p-1 m-1"><%= order_item.pattern %></td>
        <td class = "p-1 m-1" style="text-align: right">
          <%= order_item.quantity %>
          <%= order_item.unit_quantity %>
        </td>
<!--        <td class = "p-1 m-1"><%#= order_item.unit_quantity %></td>-->
        <td class = "p-1 m-1" style="text-align: right"><%= order_item.final_price %></td>
        <td class = "p-1 m-1" style="text-align: right"><%= order_item.quantity  * order_item.final_price  %></td>
        <td class = "p-1 m-1"><%= order_item.description %></td>
        <td class = "p-1 m-1"><%= order_item.note_id %></td>
        <td class = "p-1 m-1"><%= order_item.coin_id %></td>
        <td class = "p-1 m-1"><%= order_item.bond_id %></td>
        <td class = "p-1 m-1" style = "width: 52px">
          <%= link_to render('renders/button_show_small_icon'), order_item, class: "btn btn-info btn-vsm" %>
          <% if order_item.order.order_status != "Close" %>
            <%= link_to render('renders/button_edit_small_icon'), edit_order_item_path(order_item), class: "btn btn-primary btn-vsm" %>
          <% end %>
        </td>
        <td class = "p-1 m-1">
          <% if order_item.order.order_status != "Close" %>
            <%= link_to render('renders/button_delete_small_icon'), order_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-vsm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tr>
    <td colspan="5" class = "p-1 m-1" style="border-left: hidden; border-bottom: hidden"></td>
    <td class = "p-1 m-1" style="text-align: right">TOTAL</td>
    <td class = "p-1 m-1" style="text-align: right"><%= @order_total_price %></td>
    <td colspan="6" style="border-right: hidden; border-bottom: hidden"></td>

  </tr>
</table>

<br>

<%#= link_to 'New Order Item', new_order_item_path %>
