<%
=begin%>
 <p id="notice"><%= notice %></p> 
<%
=end%>
<% @root_path = Rails.root.join('app', 'assets', 'images','flags') %>
<div>
	<nav class="navbar navbar-light bg-light">
    <div>
      <%= link_to (t('add_new_country')), new_country_path, {class:"btn btn-primary btn-sm", 'data-toggle' => "modal", 'data-target' => "#newCountry"}%>
    </div>
      <%= render 'renders/search' %>
	</nav>  
</div>

<table class="table table-striped table-bordered table-hover table-sm">
    <thead class="thead-dark">
    <tr>
      <th><%= t'tables.country.headers.continent' %></th>
      <th><%= t'tables.country.headers.country_en' %></th>
      <th><%= t'tables.country.headers.country_pl' %></th>
      <th><%= t'tables.country.headers.flag' %></th>
      <th><%= t'tables.country.headers.capital_city' %></th>
      <%
=begin%>
 <th>Alfa 2</th>
      <th>Alfa 3</th>
      <th>Numeric code</th>
      <th>Iso code</th> 
<%
=end%>
      <!--<th>Exists</th> -->
      <th colspan="2"></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.continent %></td>
        <td><%= country.country_en %></td>
        <td><%= country.country_pl %></td>
        <td style="width:10%">
          <% if (File.exist?(@root_path + (country.country_en + '.png'))) %>
            <%= image_tag("flags/" + country.country_en + ".png", :alt => "rss feed" , style:"width:100%;") %>
          <% else %>
            <%= image_tag("flags/test.png", :alt => "rss feed" , style:"width:100%;") %>
          <% end %>
        </td> 
        <td><%= country.capital_city %></td>
        <%
=begin%>
 <td><%= country.alfa_2 %></td>
        <td ><%= country.alfa_3 %></td>
        <td><%= country.numeric_code %></td>
        <td><%= country.iso_code %></td> 
<%
=end%>
        <!--<td><%= country.exists %></td>-->
        <td>
          <%= link_to (render 'renders/button_show'), country, class:"btn btn-info btn-sm" %>
        </td>
        <td>
        <% @countryEdit = country %>
          <%= link_to (render 'renders/button_edit'), edit_country_path(country), {class:"btn btn-primary btn-sm", 'data-toggle' => "modal", 'data-target' => "#" + country.country_en.gsub(" ", "_") + country.id.to_s}%>
          <div class="modal fade" id=<%= country.country_en.gsub(" ", "_") + country.id.to_s %> data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel"><%= t('edit_country') %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render 'form', country: country %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><%= render ('renders/button_close') %></button>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <%= link_to (render 'renders/button_delete'), country, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="modal fade" id="newCountry" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-lg modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><%= t('add_new_country') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', country: @country %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><%= render ('renders/button_close') %></button>
      </div>
    </div>
  </div>
</div>

