<div class="jumbotron">
  <h1 class="display-4">
    <div style="text-align:center">
      <%= "Kontynent: " + @country.continent %> 
      <p>
        <%= @country.country_en %>
        <% @root_path = Rails.root.join('app', 'assets', 'images','flags') %>
        <% if (File.exist?(@root_path + (@country.country_en + '.png'))) %>
          <%= image_tag("flags/" + @country.country_en + ".png", :alt => "rss feed" , style:"width:15%;height:15%;") %>
        <% else %>
          <%= image_tag("flags/test.png", :alt => "rss feed" , style:"width:10%;height:10%;") %>
        <% end %>
      </p>
    </div>
  </h1>
  <h3>
    <p>
      <strong>Id: </strong>
      <%= @country.id %>
    </p>
    <p>
      <strong>Capital city:</strong>
      <%= @country.capital_city %>
    </p>
    <p>
      <strong>Alfa 2:</strong>
      <%= @country.alfa_2 %>
      |   
      <strong>Alfa 3:</strong>
      <%= @country.alfa_3 %>
    </p>
    <p>
      <strong>Numeric code:</strong>
      <%= @country.numeric_code %>
      |   
      <strong>Iso code:</strong>
      <%= @country.iso_code %>
       
    <p>
      <strong>Exists:</strong>
      <%= @country.exists %> 
    </p>
    </p>
  </h3>
  <%= link_to (render 'renders/button_back'), countries_path, class:"btn btn-secondary btn-sm" %>
  <%= link_to (render 'renders/button_edit'), edit_country_path(@country), {class:"btn btn-primary btn-sm", 'data-toggle' => "modal", 'data-target' => "#editCountry"} %>  
  <%
=begin%>
 <%= link_to 'Add Currency', new_country_currency_path(@country), class:"btn btn-secondary" %> 
<%
=end%>
</div>

<div class="modal fade" id="editCountry" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><%= t('edit_country') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', country: @country %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><%= render ('renders/button_close') %></button>
      </div>
    </div>
  </div>
</div>