<p id="notice"><%= notice %></p>

<p>
  <strong>Continent:</strong>
  <%= @country.continent %>
</p>

<p>
  <strong>Country en:</strong>
  <%= @country.country_en %>
</p>

<p>
  <strong>Country pl:</strong>
  <%= @country.country_pl %>
</p>

<p>
  <strong>Capital city:</strong>
  <%= @country.capital_city %>
</p>

<p>
  <strong>Alfa 2:</strong>
  <%= @country.alfa_2 %>
</p>

<p>
  <strong>Alfa 3:</strong>
  <%= @country.alfa_3 %>
</p>

<p>
  <strong>Numeric code:</strong>
  <%= @country.numeric_code %>
</p>

<p>
  <strong>Iso code:</strong>
  <%= @country.iso_code %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
