<h4>Ilość Monet:  <%= @collection_for_sell.size %></h4>
  <% @collection_for_sell.each do |item| %>
    <div class="container row bg-sell" style="border-bottom: solid;border-color: darkgray;">
      <div class="page-header col-md-1" style="border-right: solid;border-color: darkgray;">
          <B>Id: </B>	<%= item.id %>
      </div>
        <div class="col-md-3">        
        	<% if (item.avers_path.length > 200) %>
            <%= image_tag(item.avers_path, :alt => "AVERSE" , style:"width:100%") %>
          <% else %>
           	<%= item.avers_path %>
          <% end %> 
              <hr class="my-2">
          <% if (item.reverse_path.length > 200) %>
            <%= image_tag(item.reverse_path, :alt => "REVERSE" , style:"width:100%") %>
          <% else %>
           	<%= item.reverse_path %>
          <% end %> 
        </div>        
        <div class="page-header col-md-6">
          <strong  style="color:black; font-size:20px">
            <%= item.currency.country.country_en + ": " %>
            <% if item.denomination >= 1 %>
              <%= number_to_currency(item.denomination, delimiter: " ", unit: "", precision: 0) + " " + item.name_currency %>
            <% else %>
              <%= number_to_currency(item.denomination, delimiter: " ", unit: "", precision: 2) + " " + item.name_currency %>
            <% end %>
          </strong><br/>
          <b>Data: </b> <%= item.coin_date %><br/>
          <B>Quality: </B> <%= item.quality %><br/>

          <% if user_signed_in? && current_user.role == 'admin' %>
            <b>Cena Zakupu: </b><%= item.price_buy.to_s + "zł/szt" %><br/>
          <% end %>
            <b>Price : </b> <%= item.price_sell.to_s + "zł/szt" %><br/>
            <b>Shipping Type</b> <span>Lis Polecony Priorytet</span><br/>
            <b>Shipping Costs: </b><span> 10zł<span><br/>
            <span style="color:black">Mozliwy odbiór osobisty</span><br/>
            <B>Composition: </B><br/>
            <%= item.composition %><br/>
            <b>Description:</b><br/>
            <%= item.description %>
        </div> 
        <% if user_signed_in? && current_user.role == 'admin' %>      
          <div class="page-header col-md-2" style="border-left: solid;border-color: darkgray;">
            <td><%= link_to (render 'renders/button_edit'), edit_coin_path(item), class:"btn btn-primary btn-sm" %></td>
          </div>
        <% end %>
    </div>
  <% end %>