<h4><%= "Ilość banknotów: " + @collection_for_sell.size.to_s %></h4>
<table class="table table-striped  table-hover" style="border-collapse: separate; border-spacing:0 20px;">
  <% @collection_for_sell.each do |item| %>

      <tr>
        <td><%= "Id. " + item.id.to_s %></td>
        <td style="width:20%">        
        	<% if (item.avers_path.length > 200) %>
            	<%= image_tag(item.avers_path, :alt => "AVERSE" , style:"width:100%;height:100%;") %>
            <% else %>
            	<%= item.avers_path %>
            <% end %> 
        </td>
        <td>
          <div>
            <strong>
              <%= item.currency.country.country_en + ": " %>
              <%= number_with_delimiter(item.denomination, delimiter: " ") + " " + item.name_currency + " Data: " + item.coin_date  %>
            </strong><br/>
            <% if user_signed_in? && current_user.role == 'admin' %>
              <%= "Cena zakupu: " + item.price_buy.to_s + "zł/szt" %><br/>
            <% end %>
              <%= "Cena Sprzedaży: " + item.price_sell.to_s + "zł/szt" %><br/>
              <span>Koszty wysyłki 10zł<span><br/>
              <span>Mozliwy odbiór osobisty</span>
          </div>
        </td>
     
        <%
=begin%>
        <td><%= item.making %></td>
        <td><%= item.quality %></td> 
<%
=end%>
      
        
    
        <% if user_signed_in? && current_user.role == 'admin' %>
          <td><%= link_to 'Edit', edit_coin_path(item), class:"btn btn-primary" %></td>
        <% end %>
      </tr>
  <% end %>
</table>