<%= form_with(model: bond) do |form| %>
  <% if bond.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bond.errors.count, "error") %> prohibited this bond from being saved:</h2>

      <ul>
        <% bond.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="col field">
  <%= form.label :currency_id %>
  <%= form.text_field :currency_id, value:@bond.currency_id %>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col field">
      <%= form.label :Data_zakupu %><br/>
       <%= form.date_select :date_buy, class:"form-control form-control-sm" %>
    </div>
    <div class="col col-lg-5 field">
      <div style="float:left">
        <%= form.label :Miejsce_zakupu %>
        <% form.text_field :bought, class:"form-control form-control-sm" %>
        <%= form.select :bought, Bought.all.map { |b| [b.name, b.name]}, {:include_blank => "Select (Miejsce zakupu)"}, class:"form-control  form-control-sm" %>
      </div>
      <div style="float:right; margin-top:7%">
        <%= link_to 'Nowe miejsce zakupu', new_bought_path, class:"btn btn-sm btn-primary", style:"float:left" %>
      </div>
    </div>
    <%
=begin%>
 <div class="col field">
      <%= form.label :Miejsce_zakupu %>
      <%= form.text_field :bought, class:"form-control" %>
    </div> 
<%
=end%>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col field">
      <% form.label :Nominał %>
      <%= form.text_field :denomination, class:"form-control form-control-sm", placeholder:"Nominał" %>
    </div>
    <div class="col field">
      <% form.label :Waluta %>
      <%= form.text_field :name_currency, class:"form-control  form-control-sm", placeholder:"Waluta" %>
    </div>
    <div class="col field">
      <% form.label :Seria %>
      <%= form.text_field :series, class:"form-control form-control-sm", placeholder:"Sria" %>
    </div>
    <div class="col field">
      <% form.label :Data %>
      <%= form.text_field :bond_date, class:"form-control form-control-sm", placeholder:"Data" %>
    </div>

    <div class="col field">
      <%= form.label :Ilość %>
      <%= form.number_field :quantity, class:"form-control form-control-sm" %>
    </div>
    <div class="col field">
      <%= form.label :Sygnatura %>
      <%= form.number_field :signature_code, class:"form-control form-control-sm" %>
    </div>
    <div class="col field">
      <%= form.label :Kupno %>
      <%= form.text_field :price_buy, class:"form-control form-control-sm"%>
      <% bond.errors.messages_for(:price_buy).each do |message| %>
        <div  class="alert alert-danger" role="alert"><%= message %></div>
      <% end %>
    </div>
    <div class="col field">
      <%= form.label :Sprzedaż %>
      <%= form.text_field :price_sell, class:"form-control form-control-sm" %>
      <% bond.errors.messages_for(:price_sell).each do |message| %>
        <div  class="alert alert-danger" role="alert"><%= message %></div>
      <% end %>
    </div>


    <div class="col field">
      <% form.label :Materiał %>  
      <% form.text_field :making, class:"form-control form-control-sm" %>  
      <%= form.select :making, (@makings.collect { |m| [m[0], m[0]] }),  {:include_blank => "Select(Materiał)"}, class:"form-control form-control-sm" %>  
      <% bond.errors.full_messages_for(:making).each do |message| %>
        <div  class="alert alert-danger" role="alert"><%= message %></div>
      <% end %>   
    </div>   
    <div class="col field">
      <% form.label :Stan %>
      <%= form.text_field :quality, class:"form-control form-control-sm", placeholder:"Stan Obligacji" %>
    </div>
    <div class="col field">
      <% form.label :Status %>
      <% form.text_field :status, class:"form-control form-control-sm" %>
      <%= form.select :status, (@statuses.collect { |s| [s[0], s[0]] }),  {:include_blank => "Select(Status)"}, class:"form-control form-control-sm"  %>  
      <% bond.errors.full_messages_for(:status).each do |message| %>
        <div  class="alert alert-danger" role="alert"><%= message %></div>
      <% end %>
    </div>
  

    <div class="col field">
      <% form.label :Typ_obrazka %>
      <% form.text_field :img_type, class:"form-control form-control-sm" %> 
      <%= form.select :img_type, (@img_types.collect { |img| [img[0], img[0]] }),  {:include_blank => "Select(Typ Obrazka)"}, class:"form-control form-control-sm"  %>  
      <% bond.errors.messages_for(:img_type).each do |message| %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
      <% end %> 
    </div>
    <div class="col col-lg-9 field">
      <% form.label :description %>
      <%= form.text_area :description, class:"form-control form-control-sm", placeholder:"opis" %>
    </div>
    <div class="col field">
      <% form.label :Status_sprzedaży %>
      <%= form.text_field :status_sell, class:"form-control form-control-sm", placeholder:"Status Sprzedaży" %>
    </div>
  </div>
  <div class="field">
    <% form.label :avers_path %>
    <%= form.text_field :avers_path, class:"form-control form-control-sm", placeholder:"AVERS PATH" %>
  </div>

  <div class="field">
    <% form.label :reverse_path %>
    <%= form.text_field :reverse_path, class:"form-control form-control-sm", placeholder:"REVERSE PATH" %>
  </div>
</div>
  
  <div class="actions">
    <%= form.submit class:"btn btn-primary btn-sm" %>
  </div>
<% end %>