<%= form_with(model: bond) do |form| %>
  <% if bond.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bond.errors.count, "error") %> prohibited this bond from being saved:</h2>

      <ul>
        <% bond.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="col field">
  <%= form.label :currency_id %>
  <%= form.text_field :currency_id, value:@bond.currency_id %>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col field">
      <%= form.label :Data_zakupu %><br/>
       <%= form.date_select :date_buy, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Miejsce_zakupu %>
      <%= form.text_field :bought, class:"form-control" %>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col field">
      <%= form.label :Nominał %>
      <%= form.text_field :denomination, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Waluta %>
      <%= form.text_field :name_currency, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Seria %>
      <%= form.text_field :series, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Data %>
      <%= form.text_field :bond_date, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Materiał %>
      <%= form.text_field :making, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Sygnatura %>
      <%= form.number_field :signature_code, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Kupno %>
      <%= form.text_field :price_buy, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Sprzedaż %>
      <%= form.text_field :price_sell, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Ilość %>
      <%= form.number_field :quantity, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Stan %>
      <%= form.text_field :quality, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Status %>
      <%= form.text_field :status, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Status_sprzedaży %>
      <%= form.text_field :status_sell, class:"form-control" %>
    </div>
    <div class="col field">
      <%= form.label :Typ_obrazka %>
      <%= form.text_field :img_type, class:"form-control" %>
    </div>
    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, class:"form-control" %>
    </div>

  </div>
  <div class="field">
    <%= form.label :avers_path %>
    <%= form.text_field :avers_path, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :reverse_path %>
    <%= form.text_field :reverse_path, class:"form-control" %>
  </div>
</div>
  
  <br/>
  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>





  <%
=begin%>
 "------------------------------------------------------" 
<%
=end%>

  <%
=begin%>
 <div class="field">
    <%= form.label :currency_id %>
    <%= form.text_field :currency_id %>
  </div>

  <div class="field">
    <%= form.label :date_buy %>
    <%= form.date_select :date_buy %>
  </div>

  <div class="field">
    <%= form.label :series %>
    <%= form.text_field :series %>
  </div>

  <div class="field">
    <%= form.label :bought %>
    <%= form.text_field :bought %>
  </div>

  <div class="field">
    <%= form.label :denomination %>
    <%= form.text_field :denomination %>
  </div>

  <div class="field">
    <%= form.label :name_currency %>
    <%= form.text_field :name_currency %>
  </div>

  <div class="field">
    <%= form.label :bond_date %>
    <%= form.text_field :bond_date %>
  </div>

  <div class="field">
    <%= form.label :signature_code %>
    <%= form.number_field :signature_code %>
  </div>

  <div class="field">
    <%= form.label :price_buy %>
    <%= form.text_field :price_buy %>
  </div>

  <div class="field">
    <%= form.label :price_sell %>
    <%= form.text_field :price_sell %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :quality %>
    <%= form.text_field :quality %>
  </div>

  <div class="field">
    <%= form.label :making %>
    <%= form.text_field :making %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :status_sell %>
    <%= form.text_field :status_sell %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image_type %>
    <%= form.text_field :image_type %>
  </div>

  <div class="field">
    <%= form.label :avers_path %>
    <%= form.text_field :avers_path %>
  </div>

  <div class="field">
    <%= form.label :reverse_path %>
    <%= form.text_field :reverse_path %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %> 
<%
=end%>
