<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @bond.currency_id %>
</p>

<p>
  <strong>Date buy:</strong>
  <%= @bond.date_buy %>
</p>

<p>
  <strong>Series:</strong>
  <%= @bond.series %>
</p>

<p>
  <strong>Bought:</strong>
  <%= @bond.bought %>
</p>

<p>
  <strong>Denomination:</strong>
  <%= @bond.denomination %>
</p>

<p>
  <strong>Name currency:</strong>
  <%= @bond.name_currency %>
</p>

<p>
  <strong>Bond date:</strong>
  <%= @bond.bond_date %>
</p>

<p>
  <strong>Signature code:</strong>
  <%= @bond.signature_code %>
</p>

<p>
  <strong>Price buy:</strong>
  <%= @bond.price_buy %>
</p>

<p>
  <strong>Price sell:</strong>
  <%= @bond.price_sell %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @bond.quantity %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @bond.quality %>
</p>

<p>
  <strong>Making:</strong>
  <%= @bond.making %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bond.status %>
</p>

<p>
  <strong>Status sell:</strong>
  <%= @bond.status_sell %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bond.description %>
</p>

<p>
  <strong>Image type:</strong>
  <%= @bond.image_type %>
</p>

<p>
  <strong>Avers path:</strong>
  <%= @bond.avers_path %>
</p>

<p>
  <strong>Reverse path:</strong>
  <%= @bond.reverse_path %>
</p>

<%= link_to 'Edit', edit_bond_path(@bond) %> |
<%= link_to 'Back', bonds_path %>
