<!--<p id="notice"><%#= notice %></p>-->

<div class="jumbotron jumbotron-fluid pb-1">
  <div class="container">
    <p>
      <strong>Report:</strong><br/>
      <%= @report.report %>
    </p>

    <!--<p>-->
    <!--  <strong>String:</strong>-->
    <%#= @report.string %>
    <!--</p>-->

    <p>
      <strong>Name:</strong><br/>
      <%= @report.name %>
    </p>

    <p>
      <strong>Description:</strong><br/>
      <%= @report.description %>
  </div>
  <div>
    <%= link_to render('renders/button_edit'), edit_report_path(@report), class: "btn btn-primary btn-sm" %>
    <%= link_to render('renders/button_back'), reports_path, class: "btn btn-secondary btn-sm" %>
  </div>
</div>




