<div class="jumbotron">
  <h1 class="display-4">
    <%= @country.continent %> : 
    <%= @country.country_en %> 

    <% @root_path = Rails.root.join('app', 'assets', 'images','flags') %> 

    <% if (File.exist?(@root_path + (@country.country_en + '.png'))) %>
      <%= image_tag("flags/" + @country.country_en + ".png", :alt => "rss feed" , style:"width:15%;height:15%;") %>
    <% else %>
      <%= image_tag("flags/test.png", :alt => "rss feed" , style:"width:10%;height:10%;") %>
    <% end %>

  </h1>
  <p class="lead">
    <%= @country.id %>
    <strong>Capital city:</strong>
    <%= @country.capital_city %>
  </p>
  <p>
    <strong>Alfa 2:</strong>
    <%= @country.alfa_2 %>
     |   
    <strong>Alfa 3:</strong>
    <%= @country.alfa_3 %>
  </p>
  <p>
    <strong>Numeric code:</strong>
    <%= @country.numeric_code %>
     |   
    <strong>Iso code:</strong>
    <%= @country.iso_code %>
     | 
    <strong>Exists:</strong>
    <%= @country.exists %>
  </p>
  <%
=begin%>
 <%= link_to 'Edit', edit_country_path(@country), class:"btn btn-secondary" %>  
  <%= link_to 'Back', countries_path, class:"btn btn-dark" %> 
<%
=end%>
  <%= link_to 'Add Currency', new_country_currency_path(@country), class:"btn btn-secondary" %>
</div>

<h2>Waluty</h2>
 <table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
      <th>COD</th>
      <th>Waluta</th>
      <th>Drobne</th>
      <th>Active</th>
      <th>Data wymiany</th>
      <th>wymiana na</th>
      <th>przelicznik</th>
      <th>Rodzaj</th>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% @currencies.each do |currency| %>
    <tr>
      <td><%= currency.cod %></td>
      <td><%= currency.currency %></td>
      <td><%= currency.change %></td>
      <td><%= currency.active %></td>
      <td><%= currency.data_exchange %></td>
      <td><%= currency.currency_from %></td>
      <td><%= currency.converter %></td>
      <td><%= currency.pattern %></td>
      <td><%= currency.description %></td>
      
      <td><%= link_to 'Show', coin_show_currency_path(currency) %></td>
      <td><%= link_to 'Edit', edit_currency_path(currency) %></td>
      <td><%= link_to 'Destroy', currency, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>
    <% end %>
</table>