<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @coin.currency_id %>
</p>

<p>
  <strong>Date buy:</strong>
  <%= @coin.date_buy %>
</p>

<p>
  <strong>Bought:</strong>
  <%= @coin.bought %>
</p>

<p>
  <strong>Denomination:</strong>
  <%= @coin.denomination %>
</p>

<p>
  <strong>Name currency:</strong>
  <%= @coin.name_currency %>
</p>

<p>
  <strong>Coin date:</strong>
  <%= @coin.coin_date %>
</p>

<p>
  <strong>Series:</strong>
  <%= @coin.series %>
</p>

<p>
  <strong>Diameter:</strong>
  <%= @coin.diameter %>
</p>

<p>
  <strong>Thickness:</strong>
  <%= @coin.thickness %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @coin.weight %>
</p>

<p>
  <strong>Signature code:</strong>
  <%= @coin.signature_code %>
</p>

<p>
  <strong>Price buy:</strong>
  <%= @coin.price_buy %>
</p>

<p>
  <strong>Price sell:</strong>
  <%= @coin.price_sell %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @coin.quantity %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @coin.quality %>
</p>

<p>
  <strong>Status:</strong>
  <%= @coin.status %>
</p>

<p>
  <strong>Status sell:</strong>
  <%= @coin.status_sell %>
</p>

<p>
  <strong>Img type:</strong>
  <%= @coin.img_type %>
</p>

<p>
  <strong>Composition:</strong>
  <%= @coin.composition %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coin.description %>
</p>

<p>
  <strong>Avers path:</strong>
  <%= @coin.avers_path %>
</p>

<p>
  <strong>Reverse path:</strong>
  <%= @coin.reverse_path %>
</p>

<%= link_to 'Edit', edit_coin_path(@coin) %> |
<%= link_to 'Back', coin_show_currency_path(@coin.currency_id) %>
<%
=begin%>
 <%= link_to 'Back', coins_path %> 
<%
=end%>
